body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

#root {
    height: 100vh;
}

/* Error page */
.error {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding: 2rem;
    margin: 0;
}

.leaflet-container {
    height: 100vh;
}

/* Set width and height to match screen size */
html,
body,
#map {
    height: 100vh;
    width: 100vw;
}

/* Header */
header {
    background-color: #000;
    margin: 0;
    padding: 0.5rem;
    color: white;
    text-align: center;
}
/* Header Main title */
h1 {
    color: #006aa7;
    font-family: 'Nunito', sans-serif;
}

strong {
    color: #fecc02;
    font-family: 'Nunito', sans-serif;
}

.leaflet-popup-content > img {
    max-height: 16rem;
}

/* Get rid of weird border on zoom buttons */
html
    body
    div#map.leaflet-container.leaflet-touch.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom
    div.leaflet-control-container
    div.leaflet-top.leaflet-left
    div.leaflet-control-zoom.leaflet-bar.leaflet-control {
    border: none;
}

/* Make sure that map and distance markers are behind when the menu is open */
div.leaflet-top {
    z-index: 800;
}

/* Cluster icon */
div.leaflet-marker-icon {
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2rem;
}

/* About us page */
section {
    text-align: center;
}

section > h2 {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 4rem;
}

section > h3 {
    font-family: 'Oswald', sans-serif;
    margin-top: 3rem;
}

section > p {
    font-family: 'Nunito', sans-serif;
}

section > img {
    border-radius: 20px;
    margin: 1rem;
    max-width: 35vw;
}

#cred {
    color: #000;
    border: none;
}

/* For Mobile */
@media screen and (max-width: 450px) {
    section > img {
        width: 90vw;
    }
}

/* For Ipad */
@media screen and (min-width: 500px) and (max-width: 1000px) {
    .section > img {
        width: 80vw;
    }
}

/* Hamburger Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: #000;
}

li {
    margin: 1rem;
}

/* All links */
a {
    color: #fff;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    margin-right: 1rem;
    padding: 5px;
    border-bottom: 2px solid #fff;
    transition: 0.4s;
}

a:hover {
    border-color: #fecc02;
}

/* Popup Content */
.open {
    font-family: 'Oswald', sans-serif;
    color: #000;
    border: 2px solid #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 0.7rem;
    font-size: 0.9rem;
    position: static;
    top: 2.3rem;
    right: 6rem;
    transition: 0.4s;
}

.open:hover {
    border: 2px solid #fecc02;
    border-radius: 10px;
    color: #006aa7;
}

.close-button {
    font-family: 'Oswald', sans-serif;
    color: #000;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0.4rem;
    font-size: 0.9rem;
}

.modal {
    font-size: 14px;
}
.modal > .content {
    text-align: center;
    background-color: #fff;
    padding: 5px;
}
.modal > .actions {
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

/* For Mobile */
@media (max-width: 640px) {
    .popup-content {
        width: 100%;
    }

    .open {
        position: relative;
        top: 0;
        right: 0;
        margin: 0.5rem;
    }
}

.new-marker-container {
    gap: 0.8rem;
    margin: auto;
    max-width: 35rem;
    padding: 1rem;
}

.new-marker-container h3 {
    font-family: 'Oswald', sans-serif;
}

.add-marker-form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.add-marker-form input,
textarea {
    width: auto;
    height: 40px;
    padding: 0 0 0 16px;
    border-radius: 9px;
    outline: none;
    background-color: #f2f2f2;
    border: 1px solid #e5e5e500;
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.add-marker-form input:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
}

.add-marker-form button {
    padding: 0.4rem;
    border-radius: 0.5rem;
    border: 2px solid #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}
